body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Abel', sans-serif !important;
}

.container-fluid {
    padding: 0px !important;
}

.select-country {
    text-align: center;
    width: 50px !important;
}

.select .select-country img {
    width: 20px;
    height: 20px;
    border-radius: 15px;
}

.select-currency {
    opacity: .6;
    width: 50px;
    text-align: center;
}

.select-link {
    color: black;
    text-transform: uppercase;
}

.logo .logo-img {
    width: 100px !important;
}

.nav-link {
    cursor: pointer;
    text-transform: uppercase;
}

.cart {
    margin-right: 150px;
}

.cart .count-cart {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 0;
    color: white;
    font-weight: 400;
    border-radius: 10px;
}

.search {
    margin-right: 80px;
}

.user {
    margin-top: 10px;
    top: 0;
    text-align: center;
    width: 40px;
    padding: 5px;
    position: absolute;
    right: 0;
    height: 40px;
    border-radius: 20px;
    background-color: #9ed4d6;
}

.user i {
    margin-top: 5px;
    color: white;
}

.dropdown-menu {
    border-radius: 0 !important;
    width: 200px !important;
    padding: 5px !important;
}

.dropdown-item {
    border-left: 3px solid white !important;
}

.dropdown-item:hover {
    border-left: 3px solid #9ed4d6 !important;
    transition: 1s all;
}